.breadcrumb--clip {
  width: 100%;
  visibility: hidden;
}

.breadcrumb--clip .breadcrumb-link {
  display: block;
  overflow: hidden;
}

.breadcrumb--clip .breadcrumb-link span {
  display: block;
}

.breadcrumb-separator {
  margin-left: var(--space-4);
}
