/* Grid container */
.inventory-grid-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.inventory-grid {
  display: grid;
  background: var(--bg-darkest);
  width: fit-content;
}
