.world-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: var(--bg-dark);
}

.world-panel .container-view {
  flex: 1;
  min-height: 0;
  width: 100%;
}

.world-panel .container-view-content {
  overflow: hidden;
  width: 100%;
}
