.icon {
  object-fit: contain;
  flex-shrink: 0;
}

.icon--sm {
  width: var(--size-icon-sm);
  height: var(--size-icon-sm);
}

.icon--md {
  width: var(--size-icon);
  height: var(--size-icon);
}

.icon--lg {
  width: var(--size-icon-lg);
  height: var(--size-icon-lg);
}

.icon--fill {
  width: 100%;
  height: 100%;
}

.icon--pixelated {
  image-rendering: pixelated;
}
