.icon {
  object-fit: contain;
  flex-shrink: 0;
}

.icon--sm {
  width: 16px;
  height: 16px;
}

.icon--md {
  width: 24px;
  height: 24px;
}

.icon--lg {
  width: 32px;
  height: 32px;
}

.icon--fill {
  width: 100%;
  height: 100%;
}

.icon--pixelated {
  image-rendering: pixelated;
}
